body{
	@include reinicia();
	nav{
		padding:10px;
		.nav-item{
			display:$horizontal;
			margin:0 10px;
			color:$grey;
		}
		img{
			@include iconSize();
		}
		.avatar{
			border-radius:100%;
		}
		.inicio{
			padding:20px 40px;
			margin: 10px 10px;
		}
		a{
			color:$grey;
		}
		.box{
			padding:10px 20px;
			border-radius:2%;
			background-color:$darkGrey;
			#search{
				width:46%;
				height:30px;
				border: 1px solid $transparent;
				background-color:$darkGrey;
			}
			#pins-option{
				background-color:$darkGrey;
				border:1px solid $transparent;
				font-weight:bolder;
				width:10%;
			}
			select:hover{
				cursor:pointer;
			}
		}
	}
	.sub-header{
		text-align:center;
		margin-top:60px;
		.fa{
			font-size:25px;
			font-weight:bolder;
			color:$input;
			&:hover{
				color:$pink;
			}
		}
		.button-container{
			float:left;
				a{
					text-decoration:none;
					@include botones();
				}
				#dr{
					background-color:#A1938A;
				}
				#snm{
					background-color:#9E6850;
				}
				#frik{
					background-color:#A8948B;
				}
				#Invit{
					background-color:#86715E;
				}
				#foto{
					background-color:#535353;
				}
				#phcall{
					background-color:#655D5A;
				}
				#dam{
					background-color:#A8856F;
				}
				#ilum{
					background-color:#3E2710;
				}
				#ramo{
					background-color:#C2866E;
				}
				#souv{
					background-color:#7D634C;
				}
				#inv{
					background-color:#C2BFC0;
				}
		}
	}
		.pinterest__contenedor{
			margin: 40px auto 0 auto;
			display:$disposition;
			width: 25%;
			&:hover{
				opacity:0.5;
			}


			.pinterest__box{
				border-radius: 2px;
				margin: 15px;
					hr{
						border:1px solid rgba(34, 25, 25, 0.4);
					}
					a{
						text-decoration:none;
					}
					img{
						border-radius: 20%;
						width:100%;
					}
					.pinterest__box--title{
						color: $titulos;
						text-align:left;
						padding: 5px 10px;
					}
					.pinterest__box--description{
						color:$cuerpo;
						padding-left:10px;
					}
					.pinterest__box--username{
						color: $cuerpo;
						font-weight: bolder;
					}
					p{
						padding-left:10px;
						.pinterest__box--hashtag{
							display:$disposition;
							color:$titulos;
							font-weight:bold;
						}
					}
			}
		}
		.modal{
		    display: none; /* Hidden by default */
		    position: fixed; /* Stay in place */
		    z-index: 1; /* Sit on top */
		    left: 0;
		    top: 0;
		    width: 100%; /* Full width */
		    height: 100%; /* Full height */
		    overflow: auto; /* Enable scroll if needed */
		    background-color: rgb(0,0,0); /* Fallback color */
		    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
		    /* Modal Content/Box */
			.modal-content {
			    background-color: #fefefe;
			    margin: 15% auto; /* 15% from the top and centered */
			    padding: 20px;
			    border: 1px solid #888;
			    width: 80%; /* Could be more or less, depending on screen size */
				/* The Close Button */
				.close {
				    color: #aaa;
				    float: right;
				    font-size: 28px;
				    font-weight: bold;
				    &:hover{
				    	color:black;
				    	text-decoration:none;
				    	cursor:pointer;
				    }
				    &:focus{
				    	color:black;
				    	text-decoration:none;
				    	cursor:pointer;
				    }
				}
			}
		}
}