$transparent:transparent;
$background:#FFFFFF;
$horizontal:inline;
$disposition:inline-block;
$grey:#D1D1D1;
$darkGrey:#EFEFEF;
$titulos:#585858;
$cuerpo:#7C7C7C;
$pink:#F5D5D5;
$input:#F5F5F5;
$red:#BF081C;
$icon:#B5B5B5;
